[2020-11-25 11:55] #377 closed

[2020-11-25 11:55] timsuchanek commented on #373
This issue has already been fixed a while ago. If you still face it, let us know and we reopen it.

[2020-11-25 11:55] #373 closed

[2020-11-25 12:03] timsuchanek commented on #794
This issue has already been fixed a while ago. If you still face it, let us know and we reopen it.

[2020-11-25 12:03] #794 closed

[2020-11-25 12:05] timsuchanek commented on #821
Ping @Sytten

[2020-11-25 12:05] timsuchanek commented on #590
Closing this due to inactivity.

[2020-11-25 12:05] #590 closed

[2020-11-25 12:08] timsuchanek commented on #673
Ping @teebot

[2020-11-25 12:10] timsuchanek commented on #784
The client by default will set them to an empty array, if you don't provide it.
That's by design.
If you have a concrete runtime error that gets thrown, please create a separate issue.

[2020-11-25 12:10] #784 closed

[2020-11-25 12:51] timsuchanek commented on #468
Closing this due to inactivity.

[2020-11-25 12:51] #468 closed

[2020-11-25 12:52] timsuchanek commented on #743
ping @nikolasburk

[2020-11-25 12:57] timsuchanek commented on #754
Closing this due to inactivity.

[2020-11-25 12:57] #754 closed

[2020-11-25 12:57] timsuchanek commented on #748
Closing this due to inactivity.

[2020-11-25 12:57] #748 closed

[2020-11-25 13:03] nikolasburk commented on #743
If this can't be reproduced with my repro, I think we can close this 👍

[2020-11-25 14:05] #743 closed

[2020-11-25 16:12] Sytten commented on #821
So the current typing of `Json` is `type JsonValue = string | number | boolean | null | JsonObject | JsonArray`. This is fine but really annoying when you only store objects.

I am using the [graphql-scalar](https://github.com/Urigo/graphql-scalars) `JSONObject` that I mapped in nexus to prisma `type JsonObject = {[Key in string]?: JsonValue`.
[code]

But when I return the object in nexus I have a

[2020-11-26 22:27] olfal opened #940 "PANIC: expected 0 parameters but got 1 (when running $executeRaw`...`)"
Hey 👋

I'm trying to run this simple statement, but I get a panic crash.

[code]

Just in case, I've also tried without quoting the newPassword variable, but I get
[code]

Finally, I can work around this by using the unsafe/deprecated version below, but I thought I'd let you know anyway, since this panic crash does not sound right.
[code]

I'm using Prisma with PostgreSQL 12, if that helps.

Here

[2020-11-27 01:42] debdude opened #941 "PANIC: called `Result::unwrap()` on an `Err` value: Could not parse stored DateTime string: 2020-11-27 01:17:30 (input contains invalid characters)"
Hi Prisma Team! My Prisma Client just crashed. This is the report:

## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v12.18.2           |
| OS              | darwin             |
| Prisma Client   | 2.12.1             |

## Logs
[code]
This maybe of interest:
[code]

Also, this was the table definition in sqlite:

[code]

Also, happ

[2020-11-27 17:33] myorkgitis commented on #249
+1, this feature would be very helpful

[2020-11-28 14:03] kodunmi commented on #890
Hi has anything been done about this?

it will be good to have and would make life easy

[2020-11-29 09:21] mohammadhmn opened #942 "PANIC: Started http server on http+unix:///tmp/prisma-4853a1cebce032c1dde71620.sock"
Hi Prisma Team! My Prisma Client just crashed. This is the report:
## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v10.23.0           |
| OS              | debian-openssl-1.1.x|
| Prisma Client   | 2.12.1             |

# Description
[code]

## Logs
[code]

[2020-11-30 13:10] tylim88 commented on #249
need this, hope it will be available soon, thanks for the hard work

[2020-12-01 02:08] DustinJSilk opened #943 "findUnique (findOne) with a joined unique clause doesn't work"
## Bug description

When using an @unique attribute with a string, date and enum value - a findUnique query returns null while a findFirst with the same query returns a record, and a findMany returns exactly 1 record.

## How to reproduce

Create a schema like this:

[code]

Run this in JavaScript
[code]

## Expected behavior

findUnique should return the only unique record.

## Prisma information

[2020-12-01 08:54] tre-dev opened #944 "Unknown column name for "The provided value for the column is too long for the column's type"
I'm using Prisma version 2.12.1. After changing `text` to `varchar(NUMBER)` for some columns and trying to fill those with data, I'm getting the following error:

[code]

Problem is that I have no idea which column is meant since it's shown as `unknown`.

[2020-12-01 10:34] DustinJSilk commented on #943
Closing in favour of https://github.com/prisma/prisma/issues/4438

[2020-12-01 10:34] DustinJSilk commented on #943
Closing in favour of https://github.com/prisma/prisma/issues/4438

[2020-12-01 10:34] #943 closed

[2020-12-01 10:45] pantharshit00 commented on #942
Hello! Can you please provide a minimal reproduction for the above crash? Unfortunately the automatically collected information in the issue does not give us much to go with here - we will need a bit more information. What were you doing? Can you share the code and schema that was active?

[2020-12-01 11:17] pantharshit00 commented on #939
Hello! Can you please provide a minimal reproduction for the above crash? Unfortunately the automatically collected information in the issue does not give us much to go with here - we will need a bit more information. What were you doing? Can you share the code and schema that was active?

[2020-12-01 17:09] dpankros commented on #488
Can I request that composite keys be documented in the find/update/delete sections of the docs (or even a separate section that gives a _hint_ how it works)?  I was stuck on them for days and didn't think they worked properly because the schema was showing my where options as including something like `<key1>_<key2>`which didn't make sense to me and nothing I tried to supply there worked.

Thanks t

[2020-12-02 09:01] vladandrei0 commented on #937
@heymartinadams sorry to bother u but how did u actually made it work? If I create the module in /public/lib... and import and use it inside getServerSideProps I get:
[code]
🙈

[2020-12-02 09:26] nikolasburk commented on #488
Hey @dpankros 👋 yes, I just created an issue in the `docs` repo to persist this, our docs team will look into this soon! 🙏

[2020-12-02 16:28] Sytten commented on #937
related to https://github.com/prisma/prisma/issues/4393 maybe?

[2020-12-02 16:48] backops-threed commented on #249
+1 right here! 🙋‍♂️

[2020-12-02 17:07] heymartinadams commented on #937
Works like a charm, @vladandrei0.

[code]

[2020-12-02 18:49] cesRay commented on #249
+1 that'd be great!

[2020-12-02 19:58] vladandrei0 commented on #937
yes, all in order now. thanks. I don't even know what I did wrong the first time...

[2020-12-03 08:17] Fl4zher commented on #715
Is there anything new on this one?

[2020-12-03 09:25] 2color commented on #937
Hey @heymartinadams,

Just to verify that I understand the problem correctly – is this only happening when using the `next dev` development server?

[2020-12-03 11:36] MuradBuyukasik commented on #703
Been a while! How is the progress on this?

[2020-12-03 21:42] ddgond opened #945 "PANIC: 1 Invalid findMany() after nested write"
Hi Prisma Team! My Prisma Client just crashed. This is the report:
## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v10.21.0           |
| OS              | darwin             |
| Prisma Client   | 2.12.1             |

## Logs
[code]

## Schema
Here's my current schema
[code]

## Code I'm attempting to run
I've split this off into

[2020-12-03 21:59] ddgond commented on #945
After a bit more testing with creating games directly on Prisma Studio, the issue only arises if a game has multiple teams. If I create a game with a single team, everything works fine. If I then add another team to that game, the Team table panics.

[2020-12-04 01:24] heymartinadams commented on #937
Correct, @2color. I only use `next`, not sure if the same as `next dev`. ☺️

[2020-12-04 12:26] asaadawey commented on #249
+10000 really helpful

[2020-12-04 12:41] Nolty opened #946 "PANIC: index out of bounds: the len is 1 but the index is 1"
Hi Prisma Team! My Prisma Client just crashed. This is the report:
## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v14.15.1           |
| OS              | debian-openssl-1.1.x|
| Prisma Client   | 2.13.0-dev.66      |

## Logs
[code]

approximately the same error occurs with the client version 2.12.1.

$ ts-node -T prisma/seed
pri

[2020-12-04 17:58] ddgond commented on #945
Looking at the resulting db directly in postgres, it also seems like the _GameToTeam table gets populated just fine, and the Game and Team tables look as expected, so there's something very strange going on here

[2020-12-04 22:27] ddgond commented on #945
Interestingly, this problem went away after adding more fields to the Game table.

[2020-12-05 02:03] oieeaaaa commented on #249
looking forward to this :)

[2020-12-06 11:30] Hargoze commented on #904
sorry i forgot to look at this issue, i just solved it by removing andd reinstalling node modules, sorry for the useless issue

[2020-12-06 11:30] #904 closed

[2020-12-08 18:00] jeffdc commented on #228
I have been struggling with this as well. It is also a huge pain when running unit tests. Anyhow, I tried the advice given here (using global) and I am still getting hundreds of dangling connections (and related query engine processes). I have a single instance of Prisma that I use across my app (at least that I what I am trying to do!). In that file I implemented the code as mentioned in this thr

[2020-12-08 20:09] Sytten commented on #228
@jeffdc For tests we use `--runInBand` so they dont run in parallel, apart from that we don't do anything particular since I don't think jest reloads modules once they are loaded once.
We don't even do `await prisma.$disconnect();`, but I didn't check if they leaked connections. Tests are really slow though, but thats fine for me since those are integration tests that are always slow.

[2020-12-08 20:40] alexvilchis commented on #734
This would be really helpful!

[2020-12-08 21:07] jasagiri opened #947 "PANIC: called `Result::unwrap()` on an `Err` value: Could not parse stored DateTime string: 2020-12-09 05:49:44 (input contains invalid characters)"
Hi Prisma Team! My Prisma Client just crashed. This is the report:

I tried to prisma's site article  "Set up Prisma in Getting Started".
different from document is use sqlite3 database on windows 10.

What happens is "Write data into the database" section.
use command "npx ts-node index.ts"

created record User and Profile tables.
but Post table is empty.

probably datetime type in sqlite3 is tex

[2020-12-08 21:21] jasagiri commented on #947
Duplicate #873

[2020-12-08 21:21] #947 closed

[2020-12-09 02:50] namlxuit056 opened #948 "PANIC: 1"
Hi Prisma Team! My Prisma Client just crashed. This is the report:
## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v12.18.4           |
| OS              | rhel-openssl-1.0.x |
| Prisma Client   | 2.12.1             |

## Logs
[code]

[2020-12-09 03:33] namlxuit056 commented on #948
I change select to include, it is work for me.

[2020-12-09 03:33] #948 closed

[2020-12-09 05:05] jimingeorge commented on #703
Badly in need of this feature

[2020-12-09 15:19] Sytten commented on #703
I am pretty sure you can use a count request in the meantime and do a > 0 check.

[2020-12-09 15:41] matthewmueller commented on #408
This will be solved by #1 🙂

[2020-12-09 15:46] maartenraes commented on #408
Any ETA on implementation of #1 ? Seems in design right now, but I don't know how long it takes from design to implementation to beta to release :-)

[2020-12-09 17:19] matthewmueller commented on #408
@maartenraes We're actually implementing this one right now! Unfortunately, I can't give an ETA since there's still some unknowns, but group by support is one of our top priorities.

[2020-12-13 01:13] narciero commented on #341
any update on when we can expect this feature? thanks!

[2020-12-14 10:52] thebiglabasky commented on #341
We're wrapping up group by this sprint, so this is something that we'll have to look at after the holidays, early next year.

[2020-12-14 22:10] johnpena opened #949 "Generated types (index.d.ts) contains invalid expressions"
## Bug description

The generated types file (`node_modules/.prisma/client/index.d.ts`) generates type definitions with invalid signatures. These signatures seem to come from schema definitions that have multiple unique fields. Here's an example of an invalid signature from my code:

[code]

## How to reproduce

I'm working to find minimal/exact steps to reproduce this. Thus far, it appears to hap

[2020-12-15 09:29] williamluke4 commented on #949
Hey @johnpena, Thanks for reporting this. For the time being, you should be able to modify your `schema.prisma` to work around this.
#### **`schema.prisma`**
[code]

[2020-12-17 10:43] williamluke4 commented on #949
After some digging, it appears that at its root this is an introspection engine issue.

#### **`Before Introspection`**
[code]

#### **`After Introspection`**
[code]

[2020-12-18 03:02] namlxuit056 opened #950 "Hi team, i have issue with update @prisma/client 2.7 to 2.13"
Hi Prisma Team! My Prisma Client just crashed. This is the report:

## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v14.15.1           |
| OS              | debian-openssl-1.1.x|
| Prisma Client   | 2.13.0             |

## Logs
[code]

[2020-12-18 09:32] timsuchanek commented on #531
Closing due to inactivity

[2020-12-18 09:32] #531 closed

[2020-12-18 09:36] timsuchanek commented on #877
Closing this, as we by now have various e2e tests covering this

[2020-12-18 09:36] #877 closed

[2020-12-18 09:39] timsuchanek commented on #886
Native types are implemented by now, so closing this as this should work now.

[2020-12-18 09:39] #886 closed

[2020-12-18 09:42] timsuchanek commented on #728
@thesunny can you try to reproduce with the latest Prisma version please? Thanks!

[2020-12-18 09:44] timsuchanek commented on #735
Closing due to inactivity

[2020-12-18 09:44] #735 closed

[2020-12-18 09:45] timsuchanek commented on #758
Closing due to inactivity

[2020-12-18 09:45] #758 closed

[2020-12-18 09:46] timsuchanek commented on #766
Closing due to inactivity.

[2020-12-18 09:46] #766 closed

[2020-12-18 09:47] timsuchanek commented on #785
This should be fixed in the latest version. If you still face this issue, please let us know.

[2020-12-18 09:47] #785 closed

[2020-12-18 09:48] timsuchanek commented on #803
Closing due to inactivity

[2020-12-18 09:48] #803 closed

[2020-12-18 09:50] timsuchanek commented on #779
This is fixed in the latest version. Of you still face this issue, please let us know.

[2020-12-18 09:50] #779 closed

[2020-12-18 09:51] timsuchanek commented on #807
Closing due to inactivity

[2020-12-18 09:51] #807 closed

[2020-12-18 09:51] timsuchanek commented on #808
Closing this due to inactivity

[2020-12-18 09:51] #808 closed

[2020-12-18 09:52] timsuchanek commented on #816
Closing due to inactivity

[2020-12-18 09:52] #816 closed

[2020-12-18 09:52] timsuchanek commented on #825
Closing due to inactivity

[2020-12-18 09:52] #825 closed

[2020-12-18 09:53] timsuchanek commented on #827
Closing due to inactivity

[2020-12-18 09:53] #827 closed

[2020-12-18 09:53] timsuchanek commented on #829
Closing due to inactivity

[2020-12-18 09:53] #829 closed

[2020-12-18 09:54] timsuchanek commented on #887
Closing as the question has been answered

[2020-12-18 09:54] #887 closed

[2020-12-18 09:55] timsuchanek commented on #818
Closing due to inactivity

[2020-12-18 09:55] #818 closed

[2020-12-18 09:56] timsuchanek commented on #814
Closing due to inactivity

[2020-12-18 09:56] #814 closed

[2020-12-18 10:39] williamluke4 commented on #940
@olfal
# **TLDR**
**USE**
[code]

# Why
The following does not work as when using **prisma.$executeRaw\`\`** it is converted to a **PREPARE** statement i.e `${password}` is converted to `$1` so you should use  **prisma.$executeRaw(\`\`)**

[code]

This produces the following query which is not valid SQL as **PREPARE** does not support **ALTER** [(**see**)](https://www.postgresql.org/docs/current/s

[2020-12-18 15:22] tomhoule commented on #949
This is tracked in https://github.com/prisma/prisma/issues/3193

[2020-12-19 02:46] Yamboy1 commented on #539
Any movement on this?

[2020-12-20 03:01] thesunny commented on #728
Hi Tim, if I have time, I'll try and check it out. I'm not working on that particular app at the moment so I'm not sure when I'll get around back to it.

Thank you for following up though.

[2020-12-21 07:02] #950 closed

[2020-12-21 13:37] #865 closed

[2020-12-21 17:43] estyh opened #951 "Support arithmetic operations in a select field"
## Problem
I have some number fields that I want to add and multiple, inside my query. I don't think it's an option now.
The equivalent sql would be similar to

`select (col1 + col2) * col3 as calculatedCol`

In a similar vein (separate issue?) it doesn't look like it is possible to rename the selected fields, ie alias the columns.

## Suggested solution

[code]

[2020-12-21 18:35] matthewmueller commented on #951
Yep, this isn't available yet.

Prisma does support some atomic number operations: https://www.prisma.io/docs/concepts/components/prisma-client/crud#atomic-operations-on-update

Column references would definitely be nice to have!

[2020-12-22 09:23] devalnor commented on #249
+1

[2020-12-22 10:21] defucilis opened #952 "Starting a postgresql pool with 17 connections."
Hi Prisma Team! My Prisma Client just crashed. This is the report:
## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v10.16.1           |
| OS              | windows            |
| Prisma Client   | 2.12.1             |

# Description
[code]

## Logs
[code]

This was me running a big aggregation operation inside a `Promise.all` call

[2020-12-23 01:49] heymartinadams opened #953 "[feature] `updateMany` needs `select`"
## Problem
There are often instances when we need to update many records and would like certain fields returned at the same time. However, `updateMany` [doesn’t have a `select` property](https://www.prisma.io/docs/concepts/components/prisma-client/crud#updatemany).

## Suggested solution

So instead of this:
[code]

this:
[code]

[2020-12-24 20:08] pantharshit00 commented on #952
Can you please share logs with `export DEBUG=*` ran before the commands? Also, if you running very huge, batch, maybe adjust concurrency using this library: https://github.com/sindresorhus/p-map

[2020-12-24 20:51] pantharshit00 commented on #913
Hey @jayanth1991

Sorry for the late reply here. This looks like an automated report to me. Can you still reproduce this? If yes, please share more details on how to reproduce this. Thanks!

[2020-12-24 20:53] pantharshit00 commented on #915
Closing due to inactivity, please comment here if this still an issue in the *latest* version

[2020-12-24 20:53] #915 closed

[2020-12-24 20:54] pantharshit00 commented on #920
Closing in favor of #890

[2020-12-24 20:54] #920 closed

[2020-12-24 20:56] pantharshit00 commented on #933
Hey @AhmedElywa

Sorry for the late reply here. Can you please check if you can reproduce this in the latest version? If yes, please let me know.

[2020-12-24 21:00] pantharshit00 commented on #944
Closing in favour of prisma/prisma/issues/4093

[2020-12-24 21:00] #944 closed

[2020-12-24 21:01] pantharshit00 commented on #945
Hey @ddgond

I tried a reproduction and wasn't able to reproduce this. So I am going to close this as problem also seemed to be fixed at your end.

[2020-12-24 21:01] #945 closed

[2020-12-25 09:28] defucilis commented on #952
After having thought about how the code I was running works, I'm actually pretty sure that this isn't a bug, I wasn't closing connections correctly before running a huge amount of concurrent queries.

[2020-12-25 13:57] pantharshit00 commented on #952
Ok, then I am going to close this.

[2020-12-25 13:57] #952 closed

[2020-12-26 03:30] kimyh03 opened #954 "PANIC: index out of bounds: the len is 1 but the index is 1"
Hi Prisma Team! My Prisma Client just crashed. This is the report:
## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v14.15.3           |
| OS              | windows            |
| Prisma Client   | 2.13.1             |

## Logs
[code]

everything is working perfectly in wsl2(ubuntu 18.04) with same code

but in windows "npx prisma m

[2020-12-27 03:26] Trenrod opened #955 "PANIC: 1"
Hi Prisma Team! My Prisma Client just crashed. This is the report:
## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v12.18.3           |
| OS              | undefined|
| Prisma Client   | 2.13.1             |

## Logs
[code]

Steps to reproduce:
 - Create an n to m relation between users and marriages like below
 - Create two user i

[2020-12-27 12:48] Trenrod commented on #955
Created a SO post with more details https://stackoverflow.com/questions/65465917/query-with-n-to-m-panics

[2020-12-28 14:56] Trenrod commented on #955
Another observation:

It only happens when including marriages in combination with findMany.
[code]

If not included no error. Nor if its included in findUnique it works

[2020-12-28 19:23] jrandallw opened #956 "Error: PrismaClient is unable to be run in the browser."
## Bug description

I'm integrating Prisma into a Next.js application. I have connected to a `mysql` database, and am able to access all the content defined in my scheme through Prisma Studio. However, when I attempt to use `PrismaClient` in a page I receive the error `PrismaClient is unable to be run in the browser.`

## How to reproduce

1. Install `@prisma/cli` and `@prisma/client` to a next.js

[2020-12-29 07:40] williamluke4 commented on #956
Hey @jrandallw the Prisma Client is unable to be run on the client-side. What is available on the client-side is Enums and Types.

That being said your code here using `getServerSideProps` should work as it is run on the server but I suspect that NextJS is not removing `const prisma = new PrismaClient({ log: ['query', 'info', 'warn'] });` on the client side.
Could you try following this arch?
- [l

[2020-12-29 07:46] pm-dev commented on #939
This is consistently reproducible for me.
I have a schema like:
[code]

And this is triggered by `prisma.proposal.findMany` query where the `where` looks like:
[code]
Hope this helps narrow things down, this is a pretty annoying error.

[2020-12-29 16:06] jrandallw commented on #956
Thanks for the response! I tried that out, but I'm still getting the same error. Anything else I should try?

[2020-12-29 17:17] cyrus-za opened #957 "PANIC: 1"
Hi Prisma Team! My Prisma Client just crashed. This is the report:
## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v12.5.0            |
| OS              | darwin             |
| Prisma Client   | 2.13.1             |

## Logs
[code]

[2020-12-30 10:45] #940 closed

[2020-12-30 11:49] cyrus-za commented on #957
Some more info after adding `DEBUG=prisma-client,engine`

[code]

[2020-12-30 11:50] cyrus-za commented on #957
Also, I am experiencing this locally, inside github actions and in vercel. Everything worked fine and then suddenly it changes

[2020-12-30 12:21] cyrus-za commented on #873
I rand into this at #957

[2020-12-30 12:24] Jolg42 commented on #957
Was it working with the same version `2.13.1` or did it break after an upgrade?

[2020-12-30 14:23] olfal commented on #940
Hey @williamluke4, thanks for your explanation. This is what we are using at the moment, but we were hoping for a safer version :) We will stick with that.

Happy new year!

[2020-12-30 15:33] jrandallw commented on #956
I have a custom `_app.js` set up right now. Am I reading the documentation correctly that custom `_app` cant' use `getServerSideProps`? If so, do you know where I could be pointed for integrating a custom app layout without breaking `getServerSideProps`?

[2020-12-31 08:06] cyrus-za commented on #957
Worked with 2.13.1

I've realized that the issue is only on the staging DB and not on my local one. It only failed on a particular next page which called
[code]

Removing the include fixed the issue, so I looked into the auto-created `_RoleToUser` table which had 3 rows

[code]

(user 1 had admin role and user 2 had the other 2 roles)

I deleted those 3 entries and added the include back and it wo

[2020-12-31 16:01] dpetrick commented on #734
This should be possible now with the `uncheckedScalarInput` feature flag enabled. Please check if that works for you.

[2020-12-31 16:01] #734 closed

[2021-01-01 19:49] pantharshit00 commented on #946
I checked it out with ubuntu 18.04 and pg 13 on latest dev version `2.14.0-dev.60` and it works fine.

I am going to close this. Please comment here if you still experiencing this.

[2021-01-01 19:49] #946 closed

[2021-01-01 19:59] pantharshit00 commented on #955
Thanks for the detailed writeup, I can confirm this bug.

I posted a small reproduction for our use here: https://github.com/harshit-test-org/prisma-issue-client-955

We will need to fix this.

[2021-01-01 20:06] pantharshit00 commented on #939
Thanks for reproduction @pm-dev

I can reproduce the crash with an empty database.

Here is the script that I used along with above data model that you provided:
[code]

Model:
[code]

[2021-01-01 20:08] pantharshit00 commented on #957
Looks like a duplicate of https://github.com/prisma/prisma-client-js/issues/955

I will wait for that to be fixed here.

[2021-01-01 20:09] pantharshit00 commented on #956
@jrandallw Just try abstracting out the layout into a separate component and passing other sub components into it as children. I think that should work and you can use that in `_app`

[2021-01-01 20:17] pantharshit00 commented on #941
Hi @debdude

Sorry for the late response here.

Thanks for the details, I can reproduce this issue.

Posted a reproduction here: https://github.com/harshit-test-org/prisma-issue-client-941.  We should fix this.

[2021-01-01 20:21] pantharshit00 commented on #909
@webbkyr I don't you can run Postgres `SET` statement as a prepared statement.

Try `await prisma.$executeRaw('SET jwt.claims.user_id = ${user_id}');` which should work. It is unsafe though so make sure parameter is sanitised.

If this isn't the full query that you are running, please share the other parts of the query .

[2021-01-01 20:23] pantharshit00 commented on #934
Sorry for late reply here @UtopiaBeam  but you need to pass prepared variables like so:

[code]

[2021-01-01 20:28] pantharshit00 commented on #929
@backops-threed

This is unexpected. You should not map columns to other column names as that would create a conflict. Actually we should validate the schema here and throw an error if user tries to map the columns to an existing one.

I mark this as a improvement for the validator.

`@map` is used to map name of the column in prisma schema to name of the column in the database so that you can use

[2021-01-01 20:30] pantharshit00 commented on #806
@alonbilu That is for exiting the process. If you want to connect again, you can just instantiate the Prisma Client again using `new PrismaClient`

[2021-01-01 20:31] pantharshit00 commented on #918
Closing in favour of https://github.com/prisma/prisma/issues/4647

[2021-01-01 20:31] #918 closed

[2021-01-01 20:39] pantharshit00 commented on #922
Hey @pakatagoh

I am sorry for the late reply here. This issue slipped through my radar.

I tried this with the latest version of Prisma and wasn't able to reproduce the problem. So can you please report if this is still a problem with the latest version?

If yes, please share some sample data so that I can use that in reproduction. A SQL dump would be ideal for that.

[2021-01-01 20:47] pantharshit00 commented on #916
@JuanM04 I think this is somewhat possible now with `uncheckedScalarInputs` flag: https://github.com/prisma/prisma/releases/2.11.0

With that you can directly set the foreign keys on models:
[code]

[2021-01-01 20:49] pantharshit00 commented on #830
I am going to close this as its been 3 months now and there is no activity here.

Please reply if you want us to take another look.

[2021-01-01 20:49] #830 closed

[2021-01-01 20:52] pantharshit00 commented on #906
@rootandleaves Sorry for the late reply here.  I am unable to reproduce this after using the correct types:
<img width="572" alt="image" src="https://user-images.githubusercontent.com/22195362/103446056-4706b680-4ca1-11eb-91e6-5313912d8d2d.png">

If you looking to store BigInts instead of Strings, that is now possible with the new native types feature flag, check it out here: https://www.prisma.io

[2021-01-01 20:54] pantharshit00 commented on #908
Hey @RobbieGM

Sorry for the late reply here, I am unable to reproduce this issue withe 2.13.1 release.

Can you please try this again with the latest version?

[2021-01-01 20:57] RobbieGM commented on #908
Thanks for your reply,

The version you used to attempt to reproduce the bug looks newer than the one I had the bug with. I'll upgrade and let you know if the problem persists.

[2021-01-01 21:01] pantharshit00 commented on #848
@calummoore Sorry for the late reply here. It does seem like our validator is not validating your second schema example. We will need to fix that:
[code]

[2021-01-01 21:04] pantharshit00 commented on #888
I am going to close this as its been 3 months now and there is no activity here.

Please reply if you want us to take another look.

[2021-01-01 21:04] #888 closed

[2021-01-01 21:25] pantharshit00 commented on #884
@ru4sam326 Sorry for the late reply here

I am unable to reproduce this in latest version 2.13.1

I remember we refactored the logic for that part a bit so this might be already fixed. Please try again with the latest version.

[2021-01-01 22:24] pantharshit00 commented on #912
Hey @xmaxinex4

Sorry for the late response here. Since had lot of new releases between the period, can you please check if this is reproducible in the latest version of Prisma. Thanks!

[2021-01-02 21:03] samrith-s commented on #390
Hey. I am trying to deploy my lambda function which used Prisma 2. I was directed to this issue with from the error.

I currently do:
[code]

And then package everything.

In my package, I have a `node_modules` folder. Which has all of the prisma stuff:
![image](https://user-images.githubusercontent.com/9032162/103466491-01e89000-4d46-11eb-90dd-46adc0e969c5.png)

Is something missing? Coz I get th

[2021-01-03 19:15] pantharshit00 commented on #954
Hello @kimyh03

Sorry for the late reply here. I haven't had a windows machine in hand so this got delayed a bit.

I am unable to reproduce this in my windows machine as you can see below:
![image](https://user-images.githubusercontent.com/22195362/103486714-c8875180-4e25-11eb-91ca-9da997ad8012.png)

Can you please try with a fresh database? If you can still reproduce this, please share dump of th

[2021-01-04 12:39] matthewmueller commented on #949
Closing in favor of https://github.com/prisma/prisma/issues/3193

[2021-01-04 12:39] #949 closed

[2021-01-04 23:21] yassinebridi opened #958 "Support for multiple connections or creations in connectOrCreate"
## Problem
Currently the `connectOrCreate` field, only gives you the ability to connect or create one record.

## Suggested solution
For the `connectOrCreate` fields: `where` and `create`, to be a prisma `Enuremable`, like the normal `create` and `connect` fields

## Alternatives
Currently i'm just checking before the mutation, if there is the neccessary records for that entity, set the connect ar

[2021-01-05 09:11] timsuchanek commented on #1
This has been implemented in the latest `@prisma/client@dev` version and will be released in preview today.
You can check it out with setting "groupBy" as a previewFeature in your `schema.prisma`.
[code]
It is then available on `prisma.user.groupBy`.
You can check out some examples in our tests: https://github.com/prisma/prisma/blob/master/src/packages/client/src/__tests__/integration/happy/groupB

[2021-01-05 09:11] #1 closed, assigned to timsuchanek, dpetrick

[2021-01-05 09:38] matthewmueller commented on #958
Hey @yassinebridi, thanks for reaching out. Do you mind providing a code example of this? I'm having a hard time following the problem.

[2021-01-05 09:53] matthewmueller commented on #956
@jrandallw does

[code]

Fix `Error: PrismaClient is unable to be run in the browser.`?

And if that's not desirable, please let us know why :-)

[2021-01-05 12:36] strazi commented on #922
I'm encountering a very similar issue.

When I log out the SQL, I noticed that when just selecting IDs, the logging stops at the many-to-many table and then panics.

However if you add in an additional field to the ID selection, then the logging shows that it will query that final table and it works as expected.

I think with just getting the ID the query can technically stop at the relation table

[2021-01-05 12:42] strazi commented on #912
Same issue here: https://github.com/prisma/prisma-client-js/issues/922

[2021-01-05 13:33] timsuchanek commented on #653
This is covered by middlewares. If your use-case might not be supported, please create a separate issue.

[2021-01-05 13:33] #653 closed

[2021-01-05 13:34] timsuchanek commented on #673
Closing due to inactivity

[2021-01-05 13:37] timsuchanek commented on #740
Thanks a lot for reporting 🙏
This issue is fixed in the latest dev version of `@prisma/cli`.
You can try it out with `npm i -g @prisma/cli@dev`.

In case it’s not fixed for you - please let us know and we’ll reopen this issue!

[2021-01-05 13:38] timsuchanek commented on #757
Ping @RachelHow

[2021-01-05 13:39] timsuchanek commented on #769
Closing due to inactivity

[2021-01-05 13:39] #769 closed

[2021-01-05 13:44] timsuchanek commented on #802
With the latest advances in TypeScript and our TypeScript error handling we introduced for groupBy, I would like to give this a shot.

[2021-01-05 13:46] timsuchanek commented on #812
Closing due to inactivity.

[2021-01-05 13:46] #812 closed

[2021-01-05 14:03] jhaemin commented on #740
@timsuchanek

Right now, I've tested with `@prisma/cli@dev` and `@prisma/client@dev`.

**Tested time is `10:55 PM (KST)`.**

<img width="139" alt="Screen Shot 2021-01-05 at 10 54 31 PM" src="https://user-images.githubusercontent.com/19797697/103654305-0c569400-4fa9-11eb-9cac-3e17d72940f0.png">

Here is the tested Prisma schema model.

[code]

And I ran the codes below

[code]

and

[code]

And her

[2021-01-05 14:11] timsuchanek commented on #845
Closing due to inactivity.

[2021-01-05 14:11] #845 closed

[2021-01-05 14:14] timsuchanek commented on #852
Closing due to inactivity

[2021-01-05 14:14] #852 closed

[2021-01-05 14:14] timsuchanek commented on #866
Ping @ManideepSadhu

[2021-01-05 14:16] timsuchanek commented on #868
I assume this to be fixed by now. If that is not the case, please let us know and we can reopen it!

[2021-01-05 14:16] #868 closed

[2021-01-05 14:20] timsuchanek commented on #878
Ping @vovanmix

[2021-01-05 14:21] timsuchanek commented on #882
Ping @kimjeongwonn

[2021-01-05 14:22] timsuchanek commented on #884
I assume this is fixed now. If that is not the case, please let us know @ru4sam326 and we will reopen this.

[2021-01-05 14:22] #884 closed

[2021-01-05 14:22] yassinebridi commented on #958
Here is a little example.

[code]

[2021-01-05 14:24] timsuchanek commented on #900
Ping @Maxondria

[2021-01-05 14:28] timsuchanek commented on #910
Ping @erawk

[2021-01-05 14:33] timsuchanek commented on #924
Ping @wortforfilms

[2021-01-05 14:36] timsuchanek commented on #935
Thanks for reporting @Zeko369!
Unfortunately, our error templates are not very useful.
Could you provide a minimal reproduction? That would enable us to fix this. Thanks!

[2021-01-05 14:38] timsuchanek commented on #942
Ping @mohammadhmn

[2021-01-05 14:41] Zeko369 commented on #935
There were some migration problems (ie migrations that corrupted the DB), honestly it's 4 versions and 2 months old already and I don't know exactly how to repoeduce it now, so closing.

But thanks for reaching out

[2021-01-05 14:41] #935 closed

[2021-01-05 21:41] jrandallw commented on #956
@matthewmueller that worked. Thank you!

[2021-01-05 23:04] #956 closed

[2021-01-06 10:19] #882 closed

[2021-01-06 10:43] Jolg42 commented on #390
Context for @samrith-s comment's https://github.com/prisma/prisma-client-js/issues/390#issuecomment-753529630
Minimal reproduction https://github.com/samrith-s/nestjs-prisma-serverless-error
https://prisma.slack.com/archives/CKQTGR6T0/p1609623950269000

[2021-01-06 15:48] Jolg42 commented on #740
Reopening to reproduce the latest comment @pantharshit00

[2021-01-06 16:05] strazi commented on #922
Issue is still present in 2.14.0, and can still be fixed by adding an additional field to the id field.

[2021-01-06 18:15] samrith-s commented on #390
I had a chat with @ryands17 and he advised me to include `@prisma/cli` to the build. Now my package size rose from 7MB to 59MB! Is there any way to reduce this? Coz this is eating up on my deployment time massively.

[2021-01-06 20:11] hamishirving opened #959 "Error in PostgreSQL connection: Error { kind: Db, cause: Some(DbError { severity: "FATAL", parsed_severity: Some(Fatal), code: SqlState("57P01"), message: "terminating connection due to administrator command", detail: None, hint: None, position: None, where_: None, schema: None, table: None, column: None, datatype: None, constraint: None, file: Some("postgres.c"), line: Some(3011), routine: Some("ProcessInterrupts") }) }"
Hi Prisma Team! My Prisma Client just crashed. This is the report:
## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v12.20.0           |
| OS              | rhel-openssl-1.0.x |
| Prisma Client   | 2.11.0             |

## Logs
[code]

[2021-01-07 09:23] #942 closed

[2021-01-07 11:31] rodrigoehlers commented on #890
This would be very useful. Any update on this? Is this being worked on or planned to be worked on?

[2021-01-07 11:33] Jolg42 commented on #390
@samrith-s in your case you could remove the `@prisma/cli` and generate the Prisma Client in a custom folder that you include when doing the deployment.
See https://www.prisma.io/docs/concepts/components/prisma-client/generating-prisma-client#specifying-a-custom-output-path
Does that work for you?

[2021-01-07 12:58] matthewmueller commented on #572
Thanks for the question! In the Prisma Client there's a specific difference between `null` and `undefined`.

**`null` is a specific value that's persisted in an SQL database as `NULL`**. If I run:

[code]

The row in an SQL database looks like this:

|id|customer|
|:-|:-|
|10|NULL|

**`undefined` is the absence of any value**. That looks like this:

[code]

Conceptually that's the same as

[code]

[2021-01-07 12:58] #572 closed

[2021-01-07 15:18] pimeys commented on #609
This doesn't seem to panic anymore, but you'll still get an error:

[code]

[2021-01-07 15:22] pimeys commented on #609
But. We for some reason don't throw a known user-facing error. So I'll do a PR for that, because we have a code for this!

[2021-01-08 03:01] xmaxinex4 commented on #912
Yes this is still an issue testing in version 2.14.0. I was able to reproduce the error using the basic quickstart starter project by making these changes:

schema.prisma:
[code]

script.ts:
[code]

I seeded the db with 3 users and 1 post that had 2 users and ran `npm run dev`
Works on version 2.4.1, fails on 2.9.0 and latest 2.14.0

Using the starter project, I was able to see a more detailed err

[2021-01-08 10:13] #609 closed

[2021-01-08 10:35] bb-art opened #960 "output records from group by"
In the initial proposal for the groupBy api (https://github.com/prisma/prisma-client-js/issues/1#issue-445766917) I saw the possibility to output the records within a group. Couldnt find this in the definitive api? Otherwise would be nice to have. Thanx

[2021-01-08 14:00] matthewmueller opened #961 "Test transfer."
## Problem

## Suggested solution

## Alternatives

## Additional context

[2021-01-08 14:00] matthewmueller opened #962 "Testing transfer..."
## Problem

## Suggested solution

## Alternatives

## Additional context

[2021-01-08 14:12] #962 closed

[2021-01-08 14:34] TKTheTechie commented on #922
Thanks @strazi - I've run into a similar issue with my schema and adding a @updatedAt field fixed the PANIC for me.

[2021-01-08 17:26] KolbySisk commented on #249
+1

[2021-01-08 17:46] rostislav-simonik-plc commented on #249
@matthewmueller 🔝🔝🔝 thx.

[2021-01-08 23:56] SelfDevTV commented on #652
Hi @benawad
Do you also have performance problems that you feel with that too? Because I have opened an issue here: https://github.com/prisma/prisma/issues/4884

Any maybe that's also because it does so many unnecessary SQL Queries? I thought I ask here too. Maybe my issue and yours are connected.
Thx for all you are doing

[2021-01-09 00:51] samrith-s commented on #476
How and where are you running this? I am trying to deploy my nest application and got into the same issue.

[2021-01-09 02:23] davidboom95 commented on #476
+1

[2021-01-09 02:34] samrith-s commented on #476
I've tried running this snippet in my lambda handler and have set the environment variable as well. But to no avail.

I don't get any logs of this running, and I get an error saying it cannot find it in `/tmp`. Stuck very badly with this.

[2021-01-09 02:36] davidboom95 commented on #476
I'm using serverless-monorepo, so I'm having just one root prisma file and multiple `serverless.yml` services. Moving that 'schema.prisma' and 'query-engine-rhel-openssl-1.0.x' between folders is a nightmare

[2021-01-09 03:56] UtopiaBeam commented on #934
So it's impossible to use tagged template calling?

[2021-01-09 03:59] samrith-s commented on #476
Are you using NestJS? Or webpack? If yes, I can share what I have done.

[2021-01-10 03:06] samrith-s commented on #390
@Jolg42 yeah I tried that. But I still need to manually pack the rhel-open-ssl binary with lambda which isn't done at all in the example.

I have so much boilerplate code just to make the query engine available to Prisma, have no idea how it works in the SLS Lambda example here: https://www.prisma.io/docs/guides/deployment/deploying-to-aws-lambda

[2021-01-10 07:01] benjibuiltit commented on #649
Came here looking for a similar feature. I'll add my input that I'd also like to see an attribute at the model level and then an explicit opt-in when necessary to avoid any accidental leaking.

I'll also offer up an alternative workaround for those who may stumble across this issue before the feature is released. You can create a model for the sensitive data which you want to hide and use a relati

[2021-01-11 02:27] CDDelta opened #963 "Support afterCreate/afterUpdate database triggers"
## Problem
The Prisma client offers a way to modify inbound queries and updates to the database through middleware but offers no way to trigger actions based on the full result of a create/update operation.

For example, say I want to create a `Post` model with a default id that's generated by the database and a corresponding `PostRevsion` model for the creation and every update to the `Post`. The

[2021-01-11 02:41] CDDelta commented on #963
Ok, I've had a look at Prisma Migrate and the migration workflow and generated SQL it provides seems to work for the alternative I outlined. I'll close this issue once I've explored it further. :)

[2021-01-11 03:30] davidboom95 commented on #476
I solved it. I made a file with this code. This code gets executed on every lambda request.
To get the file paths, I needed to debug and print folders and its contents to know where the files are.

[code]

[2021-01-11 07:12] CDDelta commented on #963
I've managed to workaround this issue by creating database triggers using SQL. Closing.

[2021-01-11 07:12] #963 closed

[2021-01-11 10:15] williamluke4 commented on #708
Hey folks, I'm currently working on this. Below is the current Spec that I will be implementing. If you have any ideas/suggestions please let me know :smile:

## Spec

[code]

[2021-01-11 10:22] timsuchanek commented on #547
We're now working on this, feedback for the API design welcome https://github.com/prisma/prisma-client-js/issues/708#issuecomment-757852829

[2021-01-11 10:23] timsuchanek commented on #292
We're now working on this, feedback for the API design welcome https://github.com/prisma/prisma-client-js/issues/708#issuecomment-757852829

[2021-01-11 10:32] Jolg42 commented on #390
@samrith-s Could you maybe create a new issue about that with your boilerplate code?

[2021-01-11 11:20] pantharshit00 commented on #870
@lmichratsimbazafy I am sorry for the late reply here. Can you reproduce this in the latest version as well?

 If yes, please share your schema as well so that we can try a reproduction.

[2021-01-11 13:02] samrith-s commented on #476
@davidboom95 i would suggest using Lambda Layers (which is what I'm using) to greatly reduce bundle size and avoid doing this which also results in better startup times :)

[2021-01-11 13:29] davidboom95 commented on #476
Do you have the code? I tried to use a lambda layer but didn't know how to execute that preparation automatically

[2021-01-11 14:01] pantharshit00 commented on #652
@SelfDevTV I have replied to your issue. It is unrelated to this issue.

[2021-01-11 14:05] helmisatria opened #964 "PANIC: no entry found for key"
Hi Prisma Team! My Prisma Client just crashed. This is the report:
## Versions

| Name            | Version            |
|-----------------|--------------------|
| Node            | v14.13.1           |
| OS              | darwin             |
| Prisma Client   | 2.11.0             |

## Logs
[code]

[2021-01-11 14:40] mhwelander opened #965 "Multiple (almost) identical SELECT statements"
## Bug description

When you `deleteMany`, there are multiple `SELECT` statement that *look* as though they're doing the same thing.

Internal context: https://prisma-company.slack.com/archives/CEYCG2MCN/p1610373011220500

## How to reproduce

This query:

[code]

Outputs this to logs:

[code]

There are two `SELECT` statements that do the same thing, but one includes an (unused) offset.

## Envir

[2021-01-11 15:57] Jolg42 commented on #708
To add more options:

I guess `rejectOnEmpty` idea is close to what Sequelize is doing.
<img width="753" alt="Screen Shot 2021-01-11 at 16 46 07" src="https://user-images.githubusercontent.com/1328733/104203536-8a44f000-542c-11eb-94c5-c221578ffb90.png">
https://sequelize.org/master/class/lib/model.js~Model.html

I guess it could also be named `rejectIfNotFound`

Mongoose style is `await Model.find

[2021-01-11 16:23] samrith-s commented on #476
Yes. Can you message me on the Prisma Slack channel?

[2021-01-11 19:56] jasonkuhrt commented on #708
- `rejectOnEmpty` suggests that it is applicable to empty lists. When dealing with `findUnique` I think `rejectOnNotFound` makes a lot more sense.

- Instead of either of the above, I think `required` is more concise and works in both cases. It might take learning once what it means, but the JSDoc should be good enough for that. True, a passerby engineering manager in a GH PR might be a case where

[2021-01-11 20:11] flybayer commented on #708
I like `rejectOnNotFound`. In Blitz we have a `NotFoundError()` that we currently manually throw for this.

[2021-01-11 20:33] jasonkuhrt commented on #708
- `rejectOnEmpty` suggests that it is applicable to empty lists. When dealing with `findUnique` I think `rejectOnNotFound` makes more sense.

- Having `rejectOnEmpty` for lists could be good for e.g. `findMany`. This could co-exist next to `rejectOnNotFound` in the constructor config.

- IMO It should be possible to pass a thunk for the custom error.

  Revising the above type spec I would see it

[2021-01-12 07:44] williamluke4 commented on #708
I really like the validate idea. I will need to have a chat with @timsuchanek and @matthewmueller about this

[2021-01-12 09:59] timsuchanek commented on #708
Thanks for the great comments, everyone!
@williamluke4 and I just had a call and talked about the different proposals.

We want to adjust @williamluke4's proposal like so:
- Rename `rejectOnEmpty` to `rejectOnNotFound`
- Introduce thunks as @jasonkuhrt suggested
- Make it configurable on a model level as @jasonkuhrt suggested
- Do this for `findUnique` and `findFirst`
- In a separate step, we can

[2021-01-12 12:54] matthewmueller commented on #964
Sorry about that @helmisatria. Do you mind sharing the query that caused the crash?

[2021-01-12 14:54] williamluke4 commented on #647
Changes
-`GroupBy${modelName}Args`
+`${modelName}GroupByArgs`

-`Aggregate${modelName}Args`
+`${modelName}AggregateArgs`

-`FindMany${name}Args`
+`${name}FindManyArgs`

-`FindUnique${modelName}Args`
+`${modelName}FindUniqueArgs`

-`FindFirst${modelName}Args`
+`${modelName}FindFirstArgs`

[2021-01-12 14:54] #647 closed

[2021-01-12 16:04] jasonkuhrt commented on #708
And @timsuchanek, just to confirm, we're not convinced about solving the namespace conflict with the `$` prefix right?

[2021-01-12 16:33] matthewmueller commented on #341
Hey folks, here's the current plan for supporting filtering scalar list fields.

Please let me know if you have any thoughts, concerns or suggestions!

You can also schedule time with me to discuss privately: https://calendly.com/matthewmueller/prisma

---

## Functionality

### Databases

- Postgres

### Supported Operations

- findFirst
- findMany
- groupBy
- aggregate

### Capabilities

We add

[2021-01-12 18:21] Sytten commented on #341
Couple of observations:
- `Json[]` might be out of scope, but we still have to think how we will be able to compare elements inside the array when its going to be objects so it won't be necessary to do a breaking change later on.
- Will it work if we have `ids String[]` where the underlining storage type is UUID[]?
- One nice to have would be `hasNone` which is basically a `NOT: { field: hasSome(.

[2021-01-12 18:37] nrxus commented on #341
With the proposal above, how would one check if two arrays are equal?

`hasEvery` allows for the array in the DB to have more values than the array in the filter. In my use case equality check of two arrays is what I need.

[2021-01-12 18:42] cyrus-za commented on #917
@2color sorry I never got a notification of this reply.

What sort of example do you want to see? In Sequelize we currently have some values like `benchmark` that is stored as `Interval`

We parse that with `moment.duration(benchmark)` and then use that output

[2021-01-12 20:32] Sytten commented on #341
I think the default behaviour that already exists is strict equality @nrxus

[2021-01-12 22:09] nrxus commented on #341
Oh I could have swore that wasn't there a few versions ago. Thanks!

[2021-01-12 22:35] rodrigo4244 commented on #917
@2color We usually use ISO 8601 duration strings for intervals (You can find some examples on how this is implemented by Postgres in: https://www.postgresql.org/docs/9.1/datatype-datetime.html)

So, querying it in Prisma Client would look something like:

[code]

[2021-01-13 00:31] blms commented on #507
FWIW, I am using `$queryRaw` with columns of type `text` as a workaround. It requires casting each `tsvector` value to `text` when storing them, then casting them back to `tsvector` when retrieving and working with them in a `$queryRaw` query. Both directions of casting are supported by Postgres.

Here is a snippet of my migration to produce the `tsvector`-as-`text` values, where `documentTitle`,

[2021-01-13 04:54] NickSchmitt commented on #390
Got to step 3 in the Prisma Quick Start tutorial and could not run `npm run dev`. Instead, I got

[code]
Upon running prisma generate I receive `zsh: command not found: prisma`

[2021-01-13 09:28] timsuchanek commented on #708
@jasonkuhrt that is something we could add, but 1. it's a bit inconsistent with how the `findFirst` API is called on the normal Prisma Client - without `$` and we can add it if there is demand and rather keep the API minimal for now.

[2021-01-13 15:58] Jolg42 commented on #390
Note: discussion from previous comment is there https://github.com/prisma/prisma/discussions/4978

[2021-01-13 16:07] pantharshit00 commented on #48
Closing in favour of https://github.com/prisma/prisma/issues/1439

[2021-01-13 16:07] #48 closed

[2021-01-13 16:21] pantharshit00 commented on #122
Closing as UDS is now the default.

[2021-01-13 16:21] #122 closed

[2021-01-13 16:22] pantharshit00 commented on #876
This was removed a long time ago. We no longer have this shortcut.

[2021-01-13 16:22] #876 closed

[2021-01-13 16:34] pantharshit00 commented on #328
I think this is covered via `findFirst` API which released a while back. Closing.

https://www.prisma.io/docs/concepts/components/prisma-client/crud#findfirst

[2021-01-13 16:34] #328 closed

[2021-01-13 16:42] pantharshit00 commented on #340
Closing in favour of https://github.com/prisma/prisma-client-js/issues/474 as this is almost a duplicate.

[2021-01-13 16:42] #340 closed

[2021-01-13 16:46] pantharshit00 commented on #292
Closing in favour of #708

[2021-01-13 16:46] #292 closed

[2021-01-13 16:53] pantharshit00 commented on #375
Closing due to inactivity. Please open a new issue in https://github.com/prisma/prisma if need to follow up.

[2021-01-13 16:53] #375 closed

[2021-01-13 16:59] pantharshit00 commented on #408
#1 is now released in 2.14. I am going to close this one.

[2021-01-13 16:59] #408 closed

[2021-01-13 17:10] #462 closed

[2021-01-13 17:28] pantharshit00 commented on #547
Closing in favor of #708

[2021-01-13 17:28] #547 closed

[2021-01-13 17:32] pantharshit00 commented on #603
BigInt is now available in the native types preview: https://www.prisma.io/docs/concepts/components/preview-features/native-types#additional-prisma-types

[2021-01-13 17:32] #603 closed

[2021-01-13 19:22] pantharshit00 commented on #632
UDS is now stable in the latest version. This should be already addressed.

[2021-01-13 19:22] #632 closed

[2021-01-13 19:24] pantharshit00 commented on #616
I am going to close this as its been 3 months now and there is no activity here.

Please reply if you want us to take another look.

[2021-01-13 19:24] #616 closed

[2021-01-13 19:26] pantharshit00 commented on #687
I am going to close this as its been 3 months now and there is no activity here.

Please open a new issue at https://github.com/prisma/prisma with a proper description.

[2021-01-13 19:26] #687 closed

[2021-01-13 19:28] pantharshit00 commented on #706
I am going to close this as its been 3 months now and there is no activity here.

Please open a new issue in https://github.com/prisma/prisma if you want us to take another look.

[2021-01-13 19:28] #706 closed

[2021-01-13 19:32] pantharshit00 commented on #717
@oleoneto If you are running into same issue, please open a new issue at https://github.com/prisma/prisma. We are going to achieve this repository soon.

Since original issue was kind of fixed and we never got a reproduction here, I am going to close this.

[2021-01-13 19:32] #717 closed

[2021-01-13 19:39] pantharshit00 commented on #757
I am going to close this as its been 3 months now and there is no activity here.

Please reply if you want us to take another look.

[2021-01-13 19:39] #757 closed

[2021-01-13 19:41] pantharshit00 commented on #768
I can confirm this is fixed in the latest version.

[2021-01-13 19:41] #768 closed

[2021-01-13 19:46] pantharshit00 commented on #797
Closing in favour of prisma/prisma#3492

[2021-01-13 19:48] #806 closed

[2021-01-13 19:57] pantharshit00 commented on #854
I am going to close this as its been 3 months now and there is no activity here.

Please reply if you want us to take another look.

[2021-01-13 19:57] #854 closed

[2021-01-13 20:09] pantharshit00 commented on #866
I am going to close this as its been 3 months now and there is no activity here.

Please reply if you want us to take another look.

[2021-01-13 20:09] #866 closed

[2021-01-13 20:11] pantharshit00 commented on #873
I am going to close this as its been 3 months now and there is no activity here.

Please reply if you want us to take another look.

@cyrus-za Your issue will be handled via #957

[2021-01-13 20:11] #873 closed

[2021-01-13 20:13] pantharshit00 commented on #878
I am going to close this as its been 3 months now and there is no activity here.

Please reply if you want us to take another look.

[2021-01-13 20:13] #878 closed

[2021-01-13 20:15] pantharshit00 commented on #881
Closing as already done.

[2021-01-13 20:15] #881 closed

[2021-01-13 20:24] pantharshit00 commented on #900
I am going to close this as its been 3 months now and there is no activity here.

Please reply if you want us to take another look.

[2021-01-13 20:24] #900 closed

[2021-01-13 20:26] pantharshit00 commented on #910
I am going to close this as its been 3 months now and there is no activity here.

Please reply if you want us to take another look.`

[2021-01-13 20:26] #910 closed

[2021-01-13 20:40] pantharshit00 commented on #919
I am going to close this as its been 3 months now and there is no activity here.

Please reply if you want us to take another look.

[2021-01-13 20:40] #919 closed

[2021-01-13 20:42] pantharshit00 commented on #924
I am going to close this as its been 3 months now and there is no activity here.

Please reply if you want us to take another look.

[2021-01-13 20:42] #924 closed